
.about-inner {
    display: flex;
    gap: 24px;

}

.about-card {
    border: 1px solid var(--accent);
    border-radius: 32px;
    padding: 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.about-card {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about-info {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.element-img {
    align-self: flex-start;
}

.analytics-img {
    align-self: center;
}

.short-link-img {
    align-self: flex-end;
}

.about .title {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.28571;
}

.about .description {
    font-size: 18px;
    line-height: 1.44444;
}

@media screen and (max-width: 1024px) {
    .about-inner {
        flex-wrap: wrap;
    }
}