.experience .experience-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.experience .experience-wrapper .experience-row {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 135px;
}

.experience .experience-wrapper .experience-row .work-experience {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 0.75px solid #333;
    border-radius: 24px;
    padding: 17px;
    max-width: 545px;
    width: 100%;
    margin-top: 106px;
}

.experience .experience-wrapper .experience-row .work-experience h3 {
    font-weight: 600;
    font-size: 17px;
    line-height: 1.08333;
    color: #aadb6b;
}

.experience .experience-wrapper .experience-row .work-experience .job-list {
    display: flex;
    flex-direction: column;
    gap: 21px;

}

.experience .experience-wrapper .experience-row .work-experience .job-list .job {

}

.experience .experience-wrapper .experience-row .work-experience .job-list .job .company {
    font-size: 17px;
    line-height: 1.16667;
}


.experience .experience-wrapper .experience-row .work-experience .job-list .job .company .period {
    font-family: "Manrope", sans-serif;
    font-size: 13px;
    line-height: 1.44444;
    color: #76757b;
}


.experience .experience-wrapper .experience-row .work-experience .job-list .job .company-link a {
    font-size: 13px;
    line-height: 1.44444;
    text-decoration: underline;
    color: #76757b;
}


.experience .experience-wrapper .experience-row .work-experience .job-list .job .position {
    font-size: 13px;
    line-height: 1.44444;
}

/*=======================*/

.experience .experience-wrapper .experience-row .item {
    border-radius: 21px;
    padding: 20px;
    max-width: 220px;
    width: 100%;
    background-color: #ffafb0;
    display: flex;
    flex-direction: column;
    gap: 15.72px;
}

.experience .experience-wrapper .experience-row .item .project {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.experience .experience-wrapper .experience-row .item .project .project-name {
    font-weight: 700;
    font-size: 27px;
    line-height: 1.28571;
    color: #000;
}

.experience .experience-wrapper .experience-row .item .project .project-description {
    font-size: 11px;
    line-height: 1.44444;
    color: #000;
}

.experience .experience-wrapper .experience-row .item .project .show-project {
    border: 0.66px solid #333;
    border-radius: 12px;
    padding: 11px 9px;
    max-width: 117px;
    justify-content: space-between;
    align-self: end;
    width: 100%;
    font-weight: 600;
    font-size: 11px;
    color: #000;
}

.experience .experience-wrapper .experience-row .item .project .show-project .arrow {
    background-image: url('../../images/icons/arriwal-arrow.svg');
    width: 16px;
    height: 17px;
}


/*=======================*/

/*.experience .experience-wrapper .experience-row .profile {*/
/*    position: absolute;*/
/*    display: flex;*/
/*    gap: 80px;*/
/*    left: 17%;*/
/*    top: 61px;*/
/*    border: 2px solid #333;*/
/*    border-radius: 24px;*/
/*    padding: 29.21px 72.48px;*/
/*    max-width: 658px;*/
/*    width: 100%;*/
/*    max-height: 241px;*/
/*    height: 100%;*/
/*    background-color: #140e17;*/
/*}*/

/*.experience .experience-wrapper .experience-row .profile .profile-info {*/
/*    max-width: 251px;*/
/*    width: 100%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    gap: 29px;*/
/*}*/

/*.experience .experience-wrapper .experience-row .profile .profile-info .info {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 10px;*/
/*}*/

/*.experience .experience-wrapper .experience-row .profile .profile-info .info .name {*/
/*    font-weight: 800;*/
/*    font-size: 31px;*/
/*    line-height: 1.1;*/
/*}*/

/*.experience .experience-wrapper .experience-row .profile .profile-info .info .description {*/
/*    font-weight: 500;*/
/*    font-size: 10px;*/
/*    line-height: 1.16667;*/
/*}*/

/*.experience .experience-wrapper .experience-row .profile .profile-info .write-btn {*/
/*    padding: 8px 6px;*/
/*    max-width: 106px;*/
/*    border-radius: 8px;*/
/*    font-weight: 600;*/
/*    font-size: 8px;*/
/*    justify-content: end;*/
/*    gap: 25px;*/
/*    background-color: var(--accent);*/
/*}*/


/*.experience .experience-wrapper .experience-row .profile .profile-info .write-btn .arrow-min {*/
/*    width: 11px;*/
/*    height: 11px;*/
/*    background-image: url('../../images/icons/arrow-min-icon.svg');*/
/*}*/

/*=======================*/

.experience .experience-wrapper .try-experience {
    display: flex;
    flex-direction: column;
    gap: 32px;
    border: 1px solid #333;
    border-radius: 32px;
    padding: 24px;
    width: 100%;
}

.experience .experience-wrapper .try-experience .info {
    font-size: 24px;
    line-height: 1.16667;
}

.experience .experience-wrapper .try-experience .try-link {
    align-self: flex-end;
}
.experience .experience-wrapper .try-experience .try-link a {
    max-width: 245px;
    width: 100%;
    color: #fff;

}



