.faq-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.faq-title {
    align-self: flex-start;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.08333;
    margin-left: 24px;
    color: var(--accent);
    text-transform: uppercase;
}

.faq-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.faq-item {
    border: 1px solid #333;
    border-radius: 32px;
    padding: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.faq-item[open] {
    gap: 20px;
}

.faq-item .list-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}


.faq-item .list-title h4 {
    margin: 0;
    font-size: 24px;
    line-height: 1.16667;
}

.faq-item .list-description {
    font-size: 18px;
    line-height: 1.44444;
    color: #76757b;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.faq-icon {
    width: 24px;
    height: 24px;
    background-image: url('../../images/icons/faq-icon-plus.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s ease;
}

.faq-item[open] .faq-icon {
    background-image: url('../../images/icons/faq-icon-minus.svg');
}

