.footer {
    margin: 80px 0 120px 0;
    padding-bottom: 64px;
}

.footer-inner {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.footer-message {
    position: fixed;
    bottom: 64px;
    right: calc(50% - 500px);
}

.footer .message-btn {
    border: 1px solid #333;
    border-radius: 99px;
    padding: 16px;
    background-color: var(--accent);
}

.footer-list {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 232px;
    width: 100%;
}

.footer-link {
    font-size: 20px;
    color: #fff;
}

.footer-item.footer-socials {
    gap: 44px;
}

.footer-logo{
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 800;
    font-size: 24px;
    color: #fff;
}

.socials-list{
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 1024px){
    .footer-list {
        flex-wrap: wrap;
        gap: 24px;
    }

}

@media (max-width: 1000px) {
    .footer-message {
        right: 20px;
        bottom: 20px;
    }
}


@media (max-width: 768px) {
    .footer-message {
        bottom: 20px;
        right: 20px;
    }
}




