.header {
  padding: 18px 24px;
  background-color: #333;
  border: 1px solid #000;
  border-radius: 32px;
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
}

.header-left {
  display: flex;
  gap: 41px;
}

.header-logo {
  border-radius: 16px;
  padding: 8px 16px;
  background-color: var(--accent);
  color: #000;
}

.header-nav {
  display: flex;
}

.header-list {
  display: flex;
  gap: 24px;
  align-items: center;
}

.nav-link {
  font-size: 20px;
  color: #fff;
}

.header-user-link {
  align-items: center;
  display: flex;
  border-radius: 16px;
  padding: 0 16px;
  background-color: #ebebeb;
}

.burger {
  border-radius: 16px;
  padding: 0 16px;
  width: 56px;
  height: 40px;
  background-color: #76757b;
  align-items: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.burger span {
  display: block;
  width: 14px;
  height: 2px;
  background-color: #fff;
}

@media screen and (max-width: 1024px) {
  .header-nav {
    display: none;
  }

  .header-user-link {
    display: none;
  }

  .burger {
    display: flex;
  }
}
