.hero {
    position: relative;
    margin-top: 80px;
}

.hero .hero-inner {
    max-width: 539px;
    width: 100%;
}

.hero .hero-inner .title {
    position: relative;
}

.hero .hero-inner .title p {
    font-weight: 800;
    font-size: 68px;
    line-height: 1.1;
}

.hero .hero-inner .title::before {
    position: absolute;
    bottom: -25px;
    left: 56px;;
    content: '';
    display: block;
    width: 218px;
    height: 26px;
    background-image: url('../../images/design-pic/line.svg');
}

.hero .hero-inner .title::after {
    position: absolute;
    top: -15px;
    right: 12px;
    content: '';
    display: block;
    width: 114px;
    height: 64px;
    background-image: url('../../images/design-pic/salyut.svg');
}

.hero .hero-inner .description {
    position: relative;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16667;
    color: #fff;
    margin-top: 53px;
}

.hero .hero-inner .input-wrapper {
    margin-top: 64px;
    display: flex;
    gap: 24px;
}


.hero .hero-inner .input-wrapper .input-email {
    border-radius: 18px;
    padding: 18px 14px;
    background-color: #fff;
    max-width: 317px;
    width: 100%;
}


.hero .hero-inner .input-wrapper .input-btn {
    border-radius: 18px;
    padding: 18px 14px;
    max-width: 222px;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    background-color: var(--accent);
}


.hero .hero-inner .input-wrapper .input-btn .arrow{
    background-image: url('../../images/icons/arrow-icon.svg');
    width: 24px;
    height: 24px;
}

.hero .hero-inner .hero-img {
    position: absolute;
    left: 54%;
    top: 41%;
    transform: translateY(-50%);
    width: 444px;
    height: 408px;
    background-image: url('../../images/hero-pic.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}


