.tariff .tariff-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
}


.tariff .title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.08333;
    color: var(--accent);
    margin-left: 24px;
}

.tariff .tariff-box {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.tariff .tariff-box .tariff-item {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 32px;
    padding: 32px;
    max-width: 484px;
    width: 100%;
    background-color: var(--accent);
}

.tariff .tariff-box .tariff-item .abs-btn{
    position: absolute;
    top: -57px;
    right: 0;
    padding: 14px;
    max-width: 144px;
    font-weight: 600;
    background-color: #000;
    font-size: 16px;
}

.tariff .tariff-box .tariff-item .tariff-info {
    display: flex;
    flex-direction: column;
    gap: 18px;
    height: 100%;
}

.tariff .tariff-box .tariff-item .tariff-info .info-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.08333;
    color: #000;
}

.tariff .tariff-box .tariff-item .tariff-info .info-price {
    font-weight: 800;
    font-size: 68px;
    line-height: 1.1;
    color: #000;
}

.tariff .tariff-box .tariff-item .tariff-info .info-price span{
    font-weight: 400;
    font-size: 24px;
    color: #000;
}

.tariff .tariff-box .tariff-item .tariff-info .info-about {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.41176;
    color: #000;
}

.tariff .tariff-box .tariff-item .tariff-info .info-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.tariff .tariff-box .tariff-item .tariff-info .info-list li{
    font-weight: 600;
    font-size: 17px;
    line-height: 1.41176;
    color: #000;
    display: flex;
    gap: 4px;
}

.tariff .tariff-box .tariff-item .tariff-info .info-list li span {
    display: block;
    width: 24px;
    height: 24px;
}

.tariff .tariff-box .tariff-item .tariff-btn .tariff-link {
    display: block;
    color: #fff;
    background-color: #000;
    max-width: 200px;
    width: 100%;
    text-align: center;
}

.rel {
    position: relative;
}

@media screen and (max-width: 768px) {
    .tariff .tariff-box {
        flex-wrap: wrap;
        justify-content: center;
    }
}

