:root {
    --accent: #f5fa93;
}


body {
    background-color: #140e17;
    color: #fff;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.container {
    max-width: 1030px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.container .btn {
    display: flex;
    justify-content: center;
    gap: 4px;
    width: 100%;
    align-items: center;
    color: #000;
}

.container .btn .arrow{
    display: block;
}

.container .black-link {
    display: block;
    font-size: 18px;
    border: 1px solid #333;
    border-radius: 18px;
    padding: 18px 14px;
}