:root {
  --accent: #f5fa93;
}

body {
  background-color: #140e17;
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.container .logo {
  display: flex;
  gap: 6px;
  align-items: center;
  font-weight: 800;
  font-size: 24px;
  line-height: 1;
  cursor: pointer;
}

.container .btn {
  display: flex;
  justify-content: center;
  gap: 4px;
  width: 100%;
  align-items: center;
  color: #000;
}

.container .btn .arrow {
  display: block;
}

.container .black-link {
  display: block;
  font-size: 18px;
  border: 1px solid #333;
  border-radius: 18px;
  padding: 18px 14px;
}
